<body class="bg">

    <app-trainer-header></app-trainer-header>
    <div class="container" id="cont">

        <div class="card-deck">
            <div class="card" style="width:500px;height:300px;background-color: rgb(102, 245, 238)">
                <span style="padding: 30px;" class="fa fa-edit fa-5x"></span>
                <div class="card-body">
                    <h4 class="card-title">Edit Courses </h4>
                    <p class="card-text">Edit Courses in Training</p>
                    <a routerLink="/admin-course" class="btn btn-primary col-md-12">Edit</a>

                </div>
            </div>

            <div class="card" style="width:500px;height:300px;background-color: rgb(102, 245, 238)">
                <span style="padding: 30px;" class="fa fa-thumbs-o-up fa-5x"></span>
                <div class="card-body">
                    <h4 class="card-title"> User and Trainer</h4>
                    <p class="card-text">Edit user and trainer progress</p>
                    <a routerLink="/admin-edit" class="btn btn-primary col-md-12">View</a>
                </div>
            </div>
            <div class="card" style="width:500px;height:300px;background-color:rgb(102, 245, 238)">
                <span style="padding: 30px;" class="fa fa-clock-o fa-5x"></span>
                <div class="card-body">
                    <h4 class="card-title">Payments</h4>
                    <p class="card-text">See payment and progress</p>
                    <a routerLink="/admin-payment" class="btn btn-primary col-md-12">View</a>
                </div>
            </div>

        </div>
    </div>

</body>