
<body class="bg">
        <app-mentornav></app-mentornav>
        <div class="container mt-3" id="skill">
            <div class="card"  style="background-color:rgb(192, 237, 252);width:700px;height: 400px">
                    <div style="margin-top: 20px"><h2 align="center">ADD YOUR PERSONAL SKILLS </h2></div>
                
                    <div class="row align-items-center justify-content-center" id="class1">
                        <img src="assets/image/spring.png"  class="mr-2 mt-2 rounded-circle"
                            style="width:60px;">
                        <h3 class="col-md-2 pt-3">Spring</h3>
                        <span style="width: 20%"></span>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                                Add skill
                              </button>
                             
                              <!-- The Modal -->
                              <div class="modal" id="myModal">
                                <div class="modal-dialog">
                                  <div class="modal-content">                            
                                    <!-- Modal body -->
                                    <div class="modal-body">
                                            <img src="assets/image/spring.png"  class="mr-2 mt-2 rounded-circle"
                                            style="width:60px;">                            
                                            <span class="col-md-2 pt-3">Added to skills </span>
                                    </div>                                        
                                   <!-- Modal footer -->
                                   <div class="modal-footer">                              
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                    </div>
                                   
                                  </div>
                                </div>
                              </div>     
                        </div>
                        <div class="row align-items-center justify-content-center" id="class3">
                            <img src="assets/image/java.png"  class="mr-2 mt-2 rounded-circle"
                                style="width:60px;">
                            <h3 class="col-md-2 pt-3">java</h3>
                            <span style="width: 20%"></span>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                                    Add skill
                                  </button>
                                 
                                  <!-- The Modal -->
                                  <div class="modal" id="myModal">
                                    <div class="modal-dialog">
                                      <div class="modal-content">
                                      
                                       
                                        
                                        <!-- Modal body -->
                                        <div class="modal-body">
                                                <img src="assets/image/java.png"  class="mr-2 mt-2 rounded-circle"
                                                style="width:60px;">
                                                <h3 class="col-md-2 pt-3">java</h3>
                                                <span class="col-md-2 pt-3" >Added to skills</span>
                                        </div>
                                        <!-- Modal footer -->
                                        <div class="modal-footer">
                                              
                                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                        </div>
                                        
                                       
                                      </div>
                                    </div>
                                  </div>  
                           </div>     
                            <div class="row align-items-center justify-content-center" id="class2">
                                <img src="assets/image/ang.png"  class="mr-2 mt-2 rounded-circle"
                                    style="width:60px;">
                                <h4 class="col-md-2 pt-3">Angular</h4>
                                <span style="width: 20%"></span>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                                        Add skill
                                      </button>
                                     
                                      <!-- The Modal -->
                                      <div class="modal" id="myModal">
                                        <div class="modal-dialog">
                                          <div class="modal-content">
                                    
                                            <!-- Modal body -->
                                            <div class="modal-body">
                                                    <img src="assets/image/ang.png"  class="mr-2 mt-2 rounded-circle"
                                                    style="width:60px;">
                                                    <h6 class="col-md-2 pt-3">Angular </h6>
                                                    <span class="col-md-2 pt-3">Added toskills </span>
                                                    
                                            </div>
                                            
                                            <!-- Modal footer -->
                                            <div class="modal-footer">
                                              
                                              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                            </div>
                                           
                                          </div>
                                        </div>
                                      </div>  
                            </div>
             </div>       
       </div>      
    
    </body>
    
