.bg {
    background-image: url('../../assets/image/images.png');
    background-size: cover;
    padding-bottom: 16.5%;
}
#skill{
    padding-left: 180px;
    padding-top: 69px;
}
#class1{
    padding-top:30px;
}
#class3{
    padding-top:30px;
}
#class2{
    padding-top:30px;
}