<nav class="navbar bg-dark navbar-dark">

    <a class="navbar-brand" href="#"><span style="padding: 10px; font-size: 42px"
        class="fa fa-graduation-cap"></span><span style="font-style: italic;font-size:42px">Mentor On Demand</span></a>

    <ul class="nav navbar-inverse navbar-right">
        <li><a style="color: aliceblue;padding: 7px;" href="#"><span style="padding: 9px;"
                        class="fa fa-envelope"></span><span style="font-style: italic;font-size:20px">Notifications</span></a></li>
        <li><a routerLink="/admin-login" style="color: aliceblue; padding: 7px;"><span style="padding: 9px;"
                    class="fa fa-sign-in"></span><span style="font-style: italic;font-size:20px" >Admin</span></a></li>
        <li><a routerLink="/signup-main" style="color: aliceblue; padding: 7px;"><span style="padding: 9px;"
                        class="fa fa-sign-in"></span><span style="font-style: italic;font-size:20px" >Signup user</span></a></li>
         <li><a routerLink="/signup-trainet" style="color: aliceblue; padding: 7px;"><span style="padding: 9px;"
                        class="fa fa-sign-in"></span><span style="font-style: italic;font-size:20px" >Signup trainer</span></a></li>
                      
    </ul>
</nav>
<app-header-main></app-header-main>