<body>
    <app-signup></app-signup>
    <div class="container" id="cont">
            <h2> Remove Expired Courses</h2><br>

        <div id="div1" style="height:50px;width:300px;border:1px solid black;background-color:lightblue;">

            <p align="center">Angular</p>

        </div>
        <br>
        <div id="div1" style="height:50px;width:300px;border:1px solid black;background-color:lightblue;">


            <p align="center">Jquery</p>

        </div>
        <br>
        <div id="div1" style="height:50px;width:300px;border:1px solid black;background-color:lightblue;">


            <p align="center">Backend</p>

        </div>
        <br>


        <div id="div1" style="height:50px;width:300px;border:1px solid black;background-color:lightblue;">


            <p align="center">Java</p>

        </div>
        <br>
        <div id="div1" style="height:50px;width:300px;border:1px solid black;background-color:lightblue;">


            <p align="center">Spring</p>

        </div>
        <br>

        <button>Remove Course</button>

    </div>

</body>