<body>
    <app-signup></app-signup>
    <div class="container" style="padding-top: 90px">
        <h3><b>Latest Updates</b></h3>
        <div class="card-deck">


            <div class="card" style="width:0%;height:400px">
                <img class="card-img-top" src="assets/image/index.png" alt="Card image" style="width:70%">

                <div class="card-body">
                    <h4 class="card-title">John Doe</h4>
                    <p class="card-text">Due paid by user</p>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                            View Details
                                  </button>
        
                            <!-- The Modal -->
                            <div class="modal" id="myModal">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title">User</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
        
                                    <!-- Modal body -->
                                    <div class="modal-body">
        
                                        <img src="index.png" class="mr-2 mt-2 rounded-circle" style="width:60px;">
                                        <h6 class="col-md-2 pt-3">John Doe </h6>
                                        <span class="col-md-2 pt-3">Amount paid : <span>20000</span> </span>
                                        <span class="col-md-4 pt-3">Commission amount : <span>2000</span> </span>
                                    </div>
        
                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                    </div>
        
                                </div>
                            </div>
                        </div>
        
                </div>
            </div>
            <br>


            <div class="card" style="width:300px">
                <img class="card-img-top" src="assets/image/index.png" alt="Card image" style="width:70%">

                <div class="card-body">
                    <h4 class="card-title">Guru</h4>
                    <p class="card-text">Due paid by user</p>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal1">
                            View Details
                                  </button>
        
                            <!-- The Modal -->
                            <div class="modal" id="myModal1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title">User</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
        
                                    <!-- Modal body -->
                                    <div class="modal-body">
        
                                        <img src="index.png" class="mr-2 mt-2 rounded-circle" style="width:60px;">
                                        <h6 class="col-md-2 pt-3">Guru </h6>
                                        <span class="col-md-2 pt-3">Amount paid : <span>34000</span> </span>
                                        <span class="col-md-4 pt-3">Commission amount : <span>3400</span> </span>
                                    </div>
        
                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                    </div>
        
                                </div>
                            </div>
                        </div>
        
                </div>
            </div>
            <br>
            <div class="card" style="width:300px">
                <img class="card-img-top" src="assets/image/index.png" alt="Card image" style="width:70%">

                <div class="card-body">
                    <h4 class="card-title">John</h4>
                    <p class="card-text">Due paid by user</p>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal2">
                            View Details
                                  </button>
        
                            <!-- The Modal -->
                            <div class="modal" id="myModal2">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title">User</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
        
                                    <!-- Modal body -->
                                    <div class="modal-body">
        
                                        <img src="index.png" class="mr-2 mt-2 rounded-circle" style="width:60px;">
                                        <h6 class="col-md-2 pt-3">John </h6>
                                        <span class="col-md-2 pt-3">Amount paid : <span>24000</span> </span>
                                        <span class="col-md-4 pt-3">Commission amount : <span>2400</span> </span>
                                    </div>
        
                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                    </div>
        
                                </div>
                            </div>
                        </div>
        
                </div>
            </div>
            <br>
            <div class="card" style="width:300px">
                <img class="card-img-top" src="assets/image/index.png" alt="Card image" style="width:70%">

                <div class="card-body">
                    <h4 class="card-title">Sethu</h4>
                    <p class="card-text">Due paid by user</p>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal3">
                    View Details
                          </button>

                    <!-- The Modal -->
                    <div class="modal" id="myModal3">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">User</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">

                                <img src="index.png" class="mr-2 mt-2 rounded-circle" style="width:60px;">
                                <h6 class="col-md-2 pt-3">Sethu </h6>
                                <span class="col-md-2 pt-3">Amount paid : <span>25000</span> </span>
                                <span class="col-md-4 pt-3">Commission amount : <span>2500</span> </span>
                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>

                        </div>
                    </div>
                </div>

                </div>
            </div>
        </div>
    </div>
</body>