<nav class="navbar bg-dark navbar-dark">
    <a class="navbar-brand" href="#"><span style="padding: 10px; font-size: 42px"
            class="fa fa-graduation-cap"></span><span style="font-style: italic;font-size:42px">Mentor On Demand</span></a>

    <ul class="nav navbar-inverse navbar-right">
        <li><a style="color: aliceblue;padding: 7px;" href="#"><span style="padding: 7px;"
                    class="fa fa-envelope"></span> Notifications</a></li>
        <li><a style="color: aliceblue;padding: 7px;" href="login.html"><span style="padding: 7px;"
                    class="fa fa-user-plus"></span> Login</a></li>

    </ul>
</nav>