<nav class="navbar bg-dark navbar-dark">

    <a class="navbar-brand" href="#"><span style="padding: 10px; font-size: 42px"
        class="fa fa-graduation-cap"></span><span style="font-style: italic;font-size:42px">Mentor On Demand</span></a>

    <ul class="nav navbar-inverse navbar-right">
        <li><a style="color: aliceblue;padding: 7px;" href="#"><span style="padding: 9px;"
                class="fa fa-envelope"></span><span style="font-style: italic;font-size:20px">Notifications</span></a></li>

        <li><a style="color: aliceblue; padding: 7px;" href="index.html"><span style="padding: 9px;"
                class="fa fa-sign-out"></span><span style="font-style: italic;font-size:20px">Logout</span></a></li>
    </ul>
</nav>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">



    <ul class="navbar-nav">

        <li class="nav-item">
            <a class="nav-link" routerLink="/mentor-completed">Current Trainings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/mentor-withdraw">Payments</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/mentor-skills">Edit Skills</a>
        </li>

    </ul>

</nav>