<body class="bg">
    <app-user-header></app-user-header>
    <div class="container" id="cont">

        <div class="card-deck">
            <div class="card" style="width:400px; background:rgb(199, 177, 82)">
                <span style="padding: 30px;" class="fa fa-search fa-5x"></span>
                <div class="card-body">
                    <h4 class="card-title">Search Trainers</h4>
                    <p class="card-text">Search for available Coursers and Trainers</p>
                    <a routerLink="/user-search" class="btn btn-primary col-md-12">View</a>

                </div>
            </div>

            <div class="card" style="width:400px; background:rgb(199, 177, 82)">
                <span style="padding: 30px;" class="fa fa-thumbs-o-up fa-5x"></span>
                <div class="card-body">
                    <h4 class="card-title">Completed Trainings</h4>
                    <p class="card-text">See completed courses</p>
                    <a routerLink="/user-completed" class="btn btn-primary col-md-12">View</a>
                </div>
            </div>

            <div class="card" style="width:400px; background:rgb(199, 177, 82)">
                <span style="padding: 30px;" class="fa fa-clock-o fa-5x"></span>
                <div class="card-body">
                    <h4 class="card-title">Current Trainings</h4>
                    <p class="card-text">See ongoing Trainings</p>
                    <a routerLink="/user-current" class="btn btn-primary col-md-12">View</a>
                </div>
            </div>

        </div>
    </div>



</body>