<body class="bg">
    <app-trainer-header></app-trainer-header>
    <div class="container">

        <div class="card-deck">
            <div class="card" style="width:500px;height:300px;background-color: lightblue">
                <span style="padding: 30px;" class="fa fa-edit fa-5x"></span>
                <div class="card-body">
                    <h4 class="card-title">Edit Skills</h4>
                    <p class="card-text">Search for available Coursers and Trainers</p>
                    <a routerLink="/mentor-skills" class="btn btn-primary col-md-12">View</a>

                </div>
            </div>

            <div class="card" style="width:500px;height:300px;background-color: lightblue;">
                <span style="padding: 30px;" class="fa fa-thumbs-o-up fa-5x"></span>
                <div class="card-body">
                    <h4 class="card-title"> Trainings</h4>
                    <p class="card-text">See courses</p>
                    <a routerLink="/mentor-completed" class="btn btn-primary col-md-12">View</a>
                </div>
            </div>
            <div class="card" style="width:500px;height:300px;background-color: lightblue">
                <span style="padding: 30px;" class="fa fa-clock-o fa-5x"></span>
                <div class="card-body">
                    <h4 class="card-title">Payments</h4>
                    <p class="card-text">See payment and ongoing progress</p>
                    <a routerLink="/mentor-withdraw" class="btn btn-primary col-md-12">View</a>
                </div>
            </div>

        </div>
    </div>

</body>